@model IEnumerable<JobPortal.Models.ApplyJob>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@using JobPortal.Models.Enums

@*----- to find if user is logged in *@
@inject SignInManager<IdentityUser> _signInManager

@*----- gets the user object to see properties, roles *@
@inject UserManager<IdentityUser> _userManager

@{
    bool isLoggedIn = _signInManager.IsSignedIn(this.User);

    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);         // gets the Logged In User
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.PortalAdmin.ToString());
    }

}


<h1>Index</h1>
@if (isLoggedIn && isUserAdmin)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table table-active table-bordered table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostJob)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostJob.JobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplyJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplyJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplyJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
