@model IEnumerable<JobPortal.Models.Contact>
@using Microsoft.AspNetCore.Identity
@using JobPortal.Models.Enums

@{
    ViewData["Title"] = "Index";
}

@*----- to find if user is logged in *@
@inject SignInManager<IdentityUser> _signInManager

@*----- gets the user object to see properties, roles *@
@inject UserManager<IdentityUser> _userManager




@{

    //int adminId = AdminsController(this.Context).GetAdmin(this.User.Identity.Name.ToString());

    bool isLoggedIn = _signInManager.IsSignedIn(this.User);
    string userName = this.User.Identity.Name;

    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);         // gets the Logged In User
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.PortalAdmin.ToString());
    }

}

<h1>Contact Us</h1>
 @if (isLoggedIn && isUserAdmin)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
            <h3 class="text-success text-center">Your Message has been received successfully, We'll get back to you shortly. Thank you for contacting us.</h3>
}
